<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<nav th:fragment="navbar">
<ul class="navList">
	<li><a class="navItem" href="/users">Users</a></li>
	<li><a class="navItem" href="/books">Books</a></li>
	<li><a class="navItem" href="/inv">Inventory</a></li>
	<li><a class="navItem" href="/tx">Transactions</a></li>
	<li th:if="${activeUser}==null")><a class="navItem" href="/users/login">Login</a></li>
	<li th:if="${activeUser}!=null")><a class="navItem" href="/users/userDetail/${activeUser.id}" th:text="${activeUser.firstName}"></a></li>
</ul>
</nav>
</body>