@charset "ISO-8859-1";

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #fffcf9;
	list-style: none;
}
nav ul li{
	padding: 5px;
	margin: 5px;
	background-color: #774411;
	border: 2px solid black;
	border-radius: 5px;
}
nav ul li.username{
	background-color: #557755;
}
nav ul li a {
	text-decoration: none;
	color: white;	
}
table{
	border: 2px solid #774411;
}
table th, td{
	border: 1px solid #774411;
	padding: 3px;
}