<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"></head>
<head>
<title>Enter Book Info</title>
<script>
function addAuthorToList(){
	let listElement = document.getElementById("authorList");
	let inputString = document.getElementById("authorInput").value;
	let optionElement = document.createElement("option");
	optionElement.id = listElement.childElementCount;
	optionElement.value = inputString;
	optionElement.innerHTML = inputString;
	listElement.appendChild(optionElement);
}
function removeSelectedAuthors(){
	let listElement = document.getElementById("authorList");
	let selected = listElement.selectedOptions;
	for(let item of selected){
		listElement.removeChild(item);
	}
}
function selectAllAuthors(){
	let listElement = document.getElementById("authorList");
	let options = listElement.options;
	for(let option of options){
		option.selected = true;
	}
}
function onSubmit(){
	selectAllAuthors();
	return true;
}
</script>
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>
<h1>Book Information</h1>
<form  th:modelAttribute="book" th:object="${book}" onsubmit="return onSubmit()" action="/books/updateBook" method="post">
	
	<label for="isbn">ISBN:</label><br/>
	<input type="text" name="isbn" th:value="${book.isbn}"/><br/>
	
	<label for="title">Title:</label><br/>
	<input type="text" name="title" th:field="${book.title}"/><br/>
	
	<label for="category">Category:</label><br/>
	<select name="category" th:field="${book.category}">
		<option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"/>
	</select><br/>
	
	<label for="authorInput">Add an Author:</label><br/>
	<input type="text" id="authorInput"/>
	<button type="button" id="addAuthor" onclick="addAuthorToList()">Add Author</button><br/>
	
	<label for="authors">Authors:</label><br/>
	<select multiple size="3" style="width: 150px;" id="authorList" name="authors">
		<option th:id="${author}" th:each="author : ${book.authors}" th:value="${author}" th:text="${author}"/>
	</select><br/>
	<button type="button" id="removeAuthor" onclick="removeSelectedAuthors()">Remove Selected</button><br/>
	
	<input id="submitButton" type="submit" value="Update"/>
</form>
<a href="/books/viewAllBooks">View All Books</a>
</body>
</html>