<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"></head>
<head>
<title>Add New User</title>
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>
	<form th:object="${newUser}" th:action="@{/users/updateUser}" onsubmit="function a(){return onsubmit();}" method=POST>
	
		<label for="firstName">First Name: </label>
		<input name="firstName" size="10" th:field="*{firstName}"/> <br/>
		<label for="lastName">Last Name: </label>
		<input name="lastName" size="10" th:field="*{lastName}"/><br/>
		<label for="phone">Phone Number: </label>
		<input name="phone" size="20" th:field="*{phone}"/><br/>
		<input name="submit" type="submit" value="Submit" />
	</form>
<a href="/users/viewAllUsers">View all Contacts</a>
</body>
</body>
</html>