<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"></head>
<head>
<title>${addOrEdit} User</title>
<script>
	function borrowerCheck(){
		let checkBox = document.getElementById("borrowerCheck");
		if(checkBox.checked){
			checkBox.checked = false;
			
		}
	}
</script>
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>
<h1>User Information</h1>
<form th:modelAttribute="user" th:object="${user}" action="/users/updateUser" method="post">

	<input type="hidden" name="id" th:value="${user.id}"/>
	<label for="firstName">First Name</label>
	<input type="text" name="firstName" th:field="${user.firstName}"/>
	<label for="lastName">Last Name</label>
	<input type="text" name="lastName" th:field="${user.lastName}"/>
	<label for="phone">Phone #</label>
	<input type="text" name="phone" th:field="${user.phone}"/>
	<input id="submitButton" type="submit" value="Update">
</form>
</body>
</html>