<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"></head>
<head>
<title>Library User Detail</title>
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>
<h1>User Details</h1>
<table>
	<tr>
		<th><a th:href="@{/users/editUser/{id}(id=${user.id})}">Edit User</a></th>
	</tr>
	<tr>
		<th>Library ID:</th>
		<td th:text="${user.id}"></td>
	</tr>
	<tr>
		<th>First Name:</th>
		<td th:text="${user.firstName}"></td>
	</tr>
	<tr>
		<th>Last Name:</th>
		<td th:text="${user.lastName}"></td>
	</tr>
	<tr>
		<th>Phone No.:</th>
		<td th:text="${user.phone}"></td>
	</tr>	
</table>
	<div th:if="${userClass} == 'catalog.beans.Borrower' OR ${userClass} == 'catalog.beans.Librarian'">
		<button onclick="/users/viewBorrowerBag">View Your Books</button>
	</div>
	<div th:if="${userClass} == 'Librarian'">
		<!-- Librarian tasks -->
	</div>
</body>
</html>