<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: head"></head>
<head>
<title>Library Catalog Login</title>
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>
<table>
	<tr>
		<th>Class</th><th>Library ID#</th><th>First Name</th><th>Last Name</th><th>Phone</th>
	</tr>
	<tr th:each="user : ${users}">
		
		<td th:with="userId=${user.id}" th:text="${userClasses.get(userId)}"/>
		<td th:text="${user.id}"/>
		<td th:text="${user.firstName}"/>
		<td th:text="${user.lastName}"/>
		<td th:text="${user.phone}"/>
		<td><a th:href="@{/users/userDetail/{id}(id=${user.id})}">Detail</a></td>
	</tr>
</table>
<a href="/users/addNewUser">Create User Account</a>
</body>
</html>